{% extends 'base.html' %}
<!--{% load static %}-->
{% block header_text %} Start a new list here {% endblock %}
{% block imgblock %}
<!--<iframe width="743" height="418" src="https://www.youtube.com/embed/ErJyWO8TGoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<img src="https://media.istockphoto.com/photos/to-do-list-on-note-pad-with-coffee-and-pen-on-office-desk-picture-id863607936
" alt = 'pic of home_todo' height="130" width="100"/>
<!--<img src="{% static 'home_todo.jpeg' %}" alt = 'pic of home_todo' height="130" width="100"/>-->
<!--<img src="/static/home_todo.jpeg" alt="pic of home_todo" height="130" width="100"/>-->
{% endblock %}
{% block action_url%} /todo/newtodoitem/ {% endblock %}
